.header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000229;
  font-family: 'Lucida Console, Monaco, monospace';
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  /* Adjust styles for small screens (e.g., phones) */
  .header {
    font-size: 24px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Adjust styles for medium screens (e.g., tablets) */
  .header {
    font-size: 30px;
  }
}

/* Add more media queries as needed for larger screens */
@media screen and (min-width: 1025px) {
  /* Default styles for larger screens (e.g., PCs) */
  .header {
    font-size: 36px;
  }
}
